:root {
  /* Main UI Surface and Background */
  --background: #171216;
  --on-background: #ebdfe6;
  --surface: #171216;
  --on-surface: #ebdfe6;
  --surface-variant: #4d444c;
  --on-surface-variant: #d0c3cc;

  /* Primary (Main Accents) */
  --primary: #ecb4ec;
  --on-primary: #49204d;
  --primary-container: #623765;
  --on-primary-container: #ffd6fc;

  /* Secondary (Less Prominent Accents) */
  --secondary: #d8bfd4;
  --on-secondary: #3b2b3b;
  --secondary-container: #534152;
  --on-secondary-container: #f5dbf1;

  /* Tertiary (Contrasting Accents) */
  --tertiary: #f6b8ac;
  --on-tertiary: #4c251e;
  --tertiary-container: #673b33;
  --on-tertiary-container: #ffdad4;

  /* Error States */
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffdad6;

  /* Utilities */
  --outline: #998d96;
  --outline-variant: #4d444c;
  --shadow: #000000;
  --scrim: #000000;
}
